<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <startup> 
       <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
   </startup>
	<Omnicell>
		<BlueprintingTool>
			<Tables>
				<Colors>
					<add value="" />
					<add value="Black" />
					<add value="Blue" />
					<add value="Cyan" />
					<add value ="Gray" />
					<add value ="Green" />
					<add value ="Light Blue" />
					<add value ="Light Green" />
					<add value ="Orange" />
					<add value ="Red" />
					<add value ="Yellow" />
				</Colors>
				
				<Arrows>
					<add value ="" />
					<add value ="None" />
					<add value ="Start" />
					<add value ="End" />
					<add value ="Both" />
				</Arrows>
				
				<LinePatterns>
					<add value ="" />
					<add value ="Solid" />
					<add value ="Dashed" />
					<add value ="Dotted" />
					<add value ="Dash_Dot" />
				</LinePatterns>

				<StencilLabelPosition>
					<add value ="" />
					<add value ="Top" />
					<add value ="Bottom" />
					<add value ="Left" />
					<add value ="Right" />
				</StencilLabelPosition>

				<ShapeTypes>
					<add value ="" />
					<add value ="Template" />
					<add value ="Stencil" />
					<add value ="Page Setup" />
					<add value ="Shape" />
				</ShapeTypes>
				
			</Tables>
		</BlueprintingTool>
	</Omnicell>
</configuration>